header {
  background-color: #e7ad99; }

main article {
  background-color: #e7ad99; }

section div {
  background-color: #e7ad99; }

footer {
  background-color: #e7ad99; }

ul li a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
  padding: 8px;
  text-align: center; }

body {
  background-color: blue; }

.header__nav {
  background-color: #c18c5d; }

h3 {
  color: white; }
